*.a
*.o
*~
.deps
/ABOUT-NLS
/GNUmakefile
/INSTALL
/aclocal.m4
/autom4te.cache
/build-aux/compile
/config.cache
/config.h
/config.hin
/config.log
/config.status
/configure
/configure.ac
/lib/charset.alias
/lib/configmake.h
/lib/uniwidth/
/maint.mk
/po/POTFILES
/po/stamp-po
/stamp-h1
/tests/*.log
/tests/csinput
/tests/cspatfile
/tests/yesno.txt
ABOUT-NLS
ChangeLog
Makefile
Makefile.in
