*.a
*.exe
*.o
*~
.deps
/ABOUT-NLS
/GNUmakefile
/ID
/INSTALL
/README-release
/aclocal.m4
/autom4te.cache
/build-aux/compile
/config.cache
/config.h
/config.hin
/config.log
/config.status
/configure
/configure.ac
/configure.lineno
/doc/grep.1
/doc/grep.aux
/doc/grep.cp
/doc/grep.cps
/doc/grep.fn
/doc/grep.ky
/doc/grep.log
/doc/grep.op
/doc/grep.pdf
/doc/grep.pg
/doc/grep.toc
/doc/grep.tp
/doc/grep.vr
/doc/coverage
/gnulib-tests/*
/grep-*.tar.[gx]z
/grep-*.tar.[gx]z.sig
/lib/*
/lib/charset.alias
/lib/configmake.h
/lib/uniwidth/
/m4/*
/maint.mk
/po/POTFILES
/po/stamp-po
/stamp-h1
/tests/*.log
/tests/*.trs
/tests/bre.script
/tests/csinput
/tests/cspatfile
/tests/ere.script
/tests/get-mb-cur-max
/tests/khadafy.out
/tests/patfile
/tests/spencer1.script
/tests/yesno.txt
/tests/*.gcda
/tests/*.gcno
/src/*.gcda
/src/*.gcno
ABOUT-NLS
ChangeLog
Makefile
Makefile.in
TAGS
THANKS
!/gnulib-tests/Makefile.am
!/lib/Makefile.am
!/lib/colorize-posix.c
!/lib/colorize-w32.c
!/lib/colorize.h
