!/gnulib-tests/Makefile.am
!/lib/Makefile.am
!/lib/savedir.c
!/lib/savedir.h
!/m4/djgpp.m4
*.a
*.exe
*.o
*~
.deps
/ABOUT-NLS
/GNUmakefile
/INSTALL
/aclocal.m4
/autom4te.cache
/build-aux/compile
/config.cache
/config.h
/config.hin
/config.log
/config.status
/configure
/configure.ac
/gnulib-tests/*
/lib/*
/lib/charset.alias
/lib/configmake.h
/lib/uniwidth/
/m4/*
/maint.mk
/po/POTFILES
/po/stamp-po
/stamp-h1
/tests/*.log
/tests/csinput
/tests/cspatfile
/tests/yesno.txt
ABOUT-NLS
ChangeLog
Makefile
Makefile.in
