/announce-gen
/arg-nonnull.h
/c++defs.h
/config.guess
/config.rpath
/config.sub
/depcomp
/do-release-commit-and-tag
/gendocs.sh
/git-version-gen
/gitlog-to-changelog
/gnu-web-doc-update
/gnupload
/install-sh
/link-warning.h
/mdate-sh
/missing
/snippet
/test-driver
/texinfo.tex
/unused-parameter.h
/update-copyright
/useless-if-before-free
/vc-list-files
/warn-on-use.h
/ar-lib
