alloca.c
alloca.h
alloca.in.h
atexit.c
basename-lgpl.c
basename.c
binary-io.h
btowc.c
config.charset
dirent.h
dirent.in.h
dirname-lgpl.c
dirname.c
dirname.h
dummy.c
errno.h
errno.in.h
error.c
error.h
exitfail.c
exitfail.h
fnmatch.c
fnmatch.h
fnmatch.in.h
fnmatch_loop.c
getopt.c
getopt.h
getopt.in.h
getopt1.c
getopt_int.h
getpagesize.c
gettext.h
gnulib.mk
intprops.h
inttypes.h
inttypes.in.h
localcharset.c
localcharset.h
locale.h
locale.in.h
malloc.c
mbrlen.c
mbrtowc.c
mbsinit.c
mbsrtowcs-state.c
mbsrtowcs.c
memchr.c
memchr.valgrind
memmove.c
mempcpy.c
obstack.c
obstack.h
quotearg.c
quotearg.h
realloc.c
ref-add.sed
ref-add.sin
ref-del.sed
ref-del.sin
regcomp.c
regex.c
regex.h
regex_internal.c
regex_internal.h
regexec.c
stdbool.h
stdbool.in.h
stddef.h
stddef.in.h
stdint.h
stdint.in.h
stdlib.h
stdlib.in.h
stpcpy.c
streq.h
strerror.c
string.h
string.in.h
stripslash.c
strndup.c
strnlen.c
strnlen1.c
strnlen1.h
strtoimax.c
strtol.c
strtoll.c
strtoul.c
strtoull.c
sys
sys_stat.h
sys_stat.in.h
time.h
time.in.h
unistd.h
unistd.in.h
verify.h
wchar.h
wchar.in.h
wcrtomb.c
wctype.h
wctype.in.h
xalloc-die.c
xalloc.h
xmalloc.c
xstrndup.c
xstrndup.h
xstrtol-error.c
xstrtol.c
xstrtol.h
xstrtoul.c
xstrtoumax.c
