alloca.c
alloca.h
alloca.in.h
at-func.c
atexit.c
basename-lgpl.c
basename.c
binary-io.h
bitrotate.h
btowc.c
chdir-long.c
chdir-long.h
chown.c
close-hook.c
close-hook.h
close-stream.c
close-stream.h
close.c
closeout.c
closeout.h
config.charset
dirent--.h
dirent-safer.h
dirent.h
dirent.in.h
dirfd.c
dirname-lgpl.c
dirname.c
dirname.h
dummy.c
dup-safer.c
dup2.c
errno.h
errno.in.h
error.c
error.h
exclude.c
exclude.h
exitfail.c
exitfail.h
fchdir.c
fchmodat.c
fchown-stub.c
fchownat.c
fclose.c
fcntl.h
fcntl.in.h
fd-safer.c
fdopendir.c
fnmatch.c
fnmatch.h
fnmatch.in.h
fnmatch_loop.c
fpending.c
fpending.h
fstatat.c
getcwd.c
getopt.c
getopt.h
getopt.in.h
getopt1.c
getopt_int.h
getpagesize.c
gettext.h
gnulib.mk
hard-locale.c
hard-locale.h
hash.c
hash.h
intprops.h
inttypes.h
inttypes.in.h
isdir.c
lchown.c
localcharset.c
localcharset.h
locale.h
locale.in.h
lstat.c
malloc.c
mbchar.c
mbchar.h
mbrlen.c
mbrtowc.c
mbscasecmp.c
mbsinit.c
mbsrtowcs-state.c
mbsrtowcs.c
mbuiter.h
memchr.c
memchr.valgrind
memmove.c
mempcpy.c
memrchr.c
mkdir.c
mkdirat.c
obstack.c
obstack.h
open.c
openat-die.c
openat-priv.h
openat-proc.c
openat.c
openat.h
opendir-safer.c
pipe-safer.c
progname.c
progname.h
quotearg.c
quotearg.h
realloc.c
ref-add.sed
ref-add.sin
ref-del.sed
ref-del.sin
regcomp.c
regex.c
regex.h
regex_internal.c
regex_internal.h
regexec.c
rmdir.c
same-inode.h
save-cwd.c
save-cwd.h
stat.c
stdbool.h
stdbool.in.h
stddef.h
stddef.in.h
stdint.h
stdint.in.h
stdio-write.c
stdio.h
stdio.in.h
stdlib.h
stdlib.in.h
stpcpy.c
strdup.c
streq.h
strerror.c
string.h
string.in.h
stripslash.c
strndup.c
strnlen.c
strnlen1.c
strnlen1.h
strtoimax.c
strtol.c
strtoll.c
strtoul.c
strtoull.c
strtoumax.c
sys
sys_stat.h
sys_stat.in.h
time.h
time.in.h
unistd--.h
unistd-safer.h
unistd.h
unistd.in.h
unitypes.h
uniwidth.h
unlink.c
unlinkat.c
verify.h
wchar.h
wchar.in.h
wcrtomb.c
wctype.h
wctype.in.h
wcwidth.c
xalloc-die.c
xalloc.h
xgetcwd.c
xgetcwd.h
xmalloc.c
xstrndup.c
xstrndup.h
xstrtol-error.c
xstrtol.c
xstrtol.h
xstrtoul.c
xstrtoumax.c
